/* General */

// Content headlines and wrapper
.content-header {
    // height: 65px;
    // line-height: 65px;

    h1 {
        margin: 0;
        margin-left: 20px;
        line-height: 65px;
        display: inline-block;
    }

    hr {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

#page-content-wrapper {
    width: 100%;
    padding: 0 50px;

    @media (max-width: 320px){
        padding: 0 10px;
    }
}

// Fix margin that moved the whole page 20px down
.page-header {
    margin: 0px 0 20px;
}

/* Callout styles (blatantly copied from getbootstrap.com) */

// General
.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;

    // Colour schemes
    &-primary {
        border-left-color: #337ab7;

        & h4 {
            color: #337ab7;
        }
    }

    &-success {
        border-left-color: #5cb85c;

        & h4 {
            color: #5cb85c;
        }
    }

    &-info {
        border-left-color: #31b0d5;

        & h4 {
            color: #31b0d5;
        }
    }

    &-warning {
        border-left-color: #ec971f;

        & h4 {
            color: #ec971f;
        }
    }

    &-danger {
        border-left-color: #d9534f;

        & h4 {
            color: #d9534f;
        }
    }
}

/* view - "dailys specials" */

// align "add" button
.btn-dailysspecials-add {
    margin-top: 20px;
}
